/* global section */
*{
	padding: 0;
	margin: 0;
	font-family: 'Inter', sans-serif;
}
.donate-link{
	border: none;
	margin-top: 25px;
	background-color: #FF5959;
	padding: 10px 20px;
	border-radius: 5px;
}
.donate-link a{
    text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
.section-top{
	width: 765px;
	text-align: center;
	margin: 0 auto;
}
.title{
	color: #121212;
	font-size: 45px;
	font-weight: 700;
	margin: 20px 0;
}
.about-descrip{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 10px 0;
	color: #707070;
}
hr{
	border: 0;
	height:1px;
	color: #323232;
	width: 100%;
}
#line {
	text-align: center;
    width: 765px;
    height: 1px;
    background-color: #323232; 
}


/* banner section */

.banner-section{
	width: 100%;
	height: 100vh;
	background-image: url(images/donation6.jpg);
	background-repeat: no-repeat; 
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-about{
	width: 826px;
	height: 320px;
	color: white;
	text-align: center;
}
.banner-about h1{
	font-size: 65px;
	font-weight: 700;
}
.banner-about p{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
    padding: 0 50px;
	margin: 35px 0;
}


/* donation section */

.donate-section{
	margin-top: 50px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}

.donate-amount-list{
	width: 65%;
	display: flex;
	justify-content: space-evenly;
	margin: 20px 0;
}
.donate-amount{
	list-style: none;
	background-color: #f5f5f5;
	color: #707070;
	padding: 35px 20px;
	font-weight: 700;
	font-size: 1.5rem;
	border-radius: 5px;
	cursor: pointer;
}
.other-amount{
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	font-weight: 400;
	padding: 15px 35px;
	text-align: center;
	color: #707070;
	margin: 40px 0;
	outline: none;
	border-radius: 5px;
}
.active{
	background-color: #FFEEEE;
	border: 2px solid #FF5959;
}


/* donate plan section */

.donate-plan-section{
	padding-top: 40px;
	width: 100%;
	margin-top: 40px;
	border-top: 2px dashed gray;
}

.plan-card-area{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.plan-card{
	width: 25%;
	padding:25px;
	border-radius: 10px;
	margin: 20px 0;
}
.plan-card-img{
	margin-top: 35px;
	width: 58px;
	height: 49px;
}
.plan-card-title{
	margin: 25px 0;
	color: #121212;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-weight: 600;
}
.plan-card-descrip{
	color: #707070;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin-top: 10px;
	text-align: justify;
}


/* plan card background color */

.card1{
	background-color: rgba(79, 157, 166, 0.1)
}
.card2{
	background-color: rgba(255, 89, 89, 0.1);
}
.card3{
	background-color: rgba(255, 244, 214, 1);
}


/* blog-card-section */

.blog-section{
	padding-top: 40px;
	margin-top: 80px;
	border-top: 2px dashed gray;
}
.blog-card-area{
	width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.blog-card{
	margin-top: 50px;
	width: 47%;
	height: 650px;
	position: relative;
}
.blog-card-img{
	width: 100%;
	height: 60%;
	border-radius: 10px 10px 0 10px;
}
.blog-card-descripe-area{
	background-color: rgb(248, 248, 248);
	display: flex;
    width: 80%;
	padding: 15px;
    position: absolute;
	right: 0;
	top: 330px;
	border-radius: 10px 0 10px 10px;
}
.blog-publish-date{
	margin-right: 10px;
	text-align: center;
	padding-top: 15px;
	width: 280px;
}
.blog-publish-date h1{
	font-size: 45px;
	color: #FF5959;
}
.blog-title{
	font-size: 25px;
	font-weight: 600;
}
.blog-author{
	margin: 10px 0 10px;
	font-size: 16px;
	font-weight: 400;
}
.author-name{
	color: orange;
	font-size: 18px;
}


/* subscription section */

.subscripe-section{
	margin-top: 80px;
	width: 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-top: 2px dashed gray;
}
.subscripe-area{
    width: 809px ;
	height: 200px;
	background-color: #FFF4D6;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.subscripe-area input{
	border: none;
	color:#707070;
	padding: 15px;
	font-size: 18px;
	background-color: #D9D9D9;
	border-radius: 5px 0 0 5px;
	outline: none;
}
.subscripe-area button{
	border: none;
	font-size: 18px;
	padding: 15px;
	margin-left: -5px;
	background-color: #FF5959;
	border-radius: 0px 5px 5px 0;
}
.subscripe-area button a{
	text-decoration: none;
	color: #fff;
	font-size: 18px;
}


/* footer section */

footer{
	width: 100%;
	height: 177px;
	background-color: #0B0D17;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 40px;
}
footer h4{
	font-size: 36px;
	color: #FF5959;
	font-family: 'Lobster', cursive;
}
footer p{
	color: #D9DBE1;
}
